<app-page-title title="Taxes" [breadcrumbItems]="breadCrumbItems"></app-page-title>

<div class="row pb-4 gy-3">
    <div class="col-sm-4">
        <button class="btn btn-primary addtax-modal" data-bs-toggle="modal" data-bs-target="#addtaxModal" (click)="openModalCenter(addProduct)"><i
                class="las la-plus me-1"></i> Add Taxes</button>
    </div>

    <div class="col-sm-auto ms-auto">
        <div class="d-flex gap-3">
            <div class="search-box">
                <input type="text" class="form-control" id="searchMemberList" placeholder="Search for Result">
                <i class="las la-search search-icon"></i>
            </div>
            <div ngbDropdown>
                <button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-soft-info btn-icon fs-14"><i class="las la-ellipsis-v fs-18" ngbDropdownToggle></i></button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1" ngbDropdownMenu>
                    <li><a class="dropdown-item" href="#">All</a></li>
                    <li><a class="dropdown-item" href="#">Last Week</a></li>
                    <li><a class="dropdown-item" href="#">Last Month</a></li>
                    <li><a class="dropdown-item" href="#">Last Year</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive table-card">
                    <table class="table table-hover table-nowrap align-middle mb-0">
                        <thead>
                            <tr class="text-muted text-uppercase">
                                <th scope="col">Tax Name</th>
                                <th scope="col">Country</th>
                                <th scope="col">Region</th>
                                <th scope="col" style="width: 16%;">Tax Rate(%)</th>
                                <th scope="col" style="width: 12%;">Status</th>
                                <th>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let tax of paginateData">
                                <td>{{ tax.name }}</td>
                                <td>{{ tax.country }}</td>
                                <td>{{ tax.applicable }}</td>
                                <td>{{ tax.rate }}</td>
                                <td><span class="badge bg-success-subtle text-success p-2">{{ tax.status }}</span></td>
                                <td>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" [id]="tax.id">
                                        <label class="form-check-label" [for]="tax.id"></label>
                                    </div>
                                </td>
                            </tr>
                        </tbody><!-- end tbody -->
                    </table><!-- end table -->
                </div><!-- end table responsive -->
            </div>
        </div>

        <div class="row align-items-center mb-2 gy-3">
            <div class="col-md-5">
                Showing <b>{{ startItem + 1 }}</b> to <b>{{ endItem }}</b> of <b>{{ taxes.length }}</b> results
            </div>
            <div class="col-sm-auto ms-auto">
                <pagination class=".pagination-wrap hstack" [totalItems]="taxes.length" [itemsPerPage]="itemsPerPage" (pageChanged)="tablepageChanged($event)"></pagination>
            </div>
        </div>
    </div>
</div>

<ng-template #addProduct let-modal>
    <div class="modal-content border-0">
        <div class="modal-header p-4 pb-0">
            <h5 class="modal-title" id="createMemberLabel">Add Taxes</h5>
            <button type="button" class="btn-close" id="createMemberBtn-close" (click)="modal.close('Close click')"></button>
        </div>
        <div class="modal-body p-4">
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <label for="Name" class="form-label">Tax Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Enter Name" >
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-4">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Country</option>
                                        <option value="1">United States</option>
                                        <option value="2">Australia	</option>
                                        <option value="3">New Zealand</option>
                                        <option value="4">Italy</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-4">
                                    <label for="region" class="form-label">Region</label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Region</option>
                                        <option value="1">(any)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="Name" class="form-label">Tax Rate</label>
                            <input type="text" class="form-control" id="Name" placeholder="Enter Text Rate" >
                        </div>

                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-light" (click)="modal.close('Close click')" >Close</button>
                            <button type="submit" class="btn btn-success" (click)="modal.close('Close click')">Add Taxes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>