<app-page-title title="Add Transaction" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="desc">Description</label>
                        <textarea class="form-control" id="desc" placeholder="Enter Description" rows="3"></textarea>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label for="credit/debit" class="form-label">Credit / Debit</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected="">Select Credit / Debit</option>
                                    <option value="1">Credit</option>
                                    <option value="2">Debit</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="price">Amount</label>
                                <input id="price" name="price" placeholder="Enter Amount" type="number"
                                    class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="attachment">Add Attachment</label>
                        <div>
                            <input class="form-control" type="file" multiple>
                        </div>
                    </div>
                </form>

                <div class="hstack gap-2 mt-4">
                    <button type="submit" class="btn btn-primary">Pay Now</button>
                    <button type="button" class="btn btn-light">Discard</button>
                </div>
            </div>
        </div>
    </div>
</div>