<app-page-title title="Product" [breadcrumbItems]="breadCrumbItems"></app-page-title>
 
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
               <div class="p-2">
                <form>
                    <div class="mb-3">
                        <label class="form-label" for="productname">Product Name</label>
                        <input id="productname" name="productname" placeholder="Enter Product Name" type="text" class="form-control">
                    </div>
                    <!-- end dropzon-preview -->

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="brand">Product Brand</label>
                                <input id="brand" name="brand" placeholder="Enter Product Brand" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label" for="price">Product Price</label>
                                <input id="price" name="price" placeholder="Enter Price" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="choices-single-default" class="form-label">Category</label>
                                <select class="form-select" name="choices-single-category"
                                    id="choices-single-category">
                                    <option value="SL">Select</option>
                                    <option value="EL">Electronic</option>
                                    <option value="FA">Fashion</option>
                                    <option value="FI">Fitness</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="choices-single-specifications" class="form-label">Specifications</label>
                                <select class="form-select" name="choices-single-category"
                                    id="choices-single-specifications">
                                    <option value="HI" selected>High Quality</option>
                                    <option value="LE" selected>Leather</option>
                                    <option value="NO">Notifications</option>
                                    <option value="SI">Sizes</option>
                                    <option value="DI">Different Color</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="productdesc">Product Description</label>
                        <textarea class="form-control" id="productdesc" placeholder="Enter Description" rows="4"></textarea>
                    </div>
                </form>

                <div class="hstack gap-2 mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-light">Discard</button>
                </div>

               </div>
            </div>
        </div>
    </div>
</div>